- form_for @user do |f|
  %ul
    %li
      = f.label :login
      = f.input :login
    %li
      = f.label :password
      = f.input :password
    %li
      = f.label :password_confirmation
      = f.input :password_confirmation
  %p.submit
    = f.submit "register"
